body {
    display: flex;
    justify-content: space-between; 
    padding: 5% 10%; 
    background-image: url('../images/bgimg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    width: 80%;
    margin: auto;
    background-image: url('../images/bgimg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(122, 122, 122);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-image: url('../images/bgimg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
th, td {
    padding: 12px;
    border: 1px solid #8b8b8b;
    text-align: left;
    
}
th {
    background:rgb(76, 188, 207);
    color: white;
}
.back-btn {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
   
}
.delete_btn{
  background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;  
}
.btn_edit{
    width: 50%;
    padding: 6px;
    background:rgb(76, 188, 207);
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
